.columngrid > div{

    display: grid;
    grid-template-columns: repeat(autofit,minmax);
    grid-template-rows: 1fr;
}

.columnheader{
    border-style: solid;
    margin-top: 0em;
    margin-bottom: .5em;
    margin-right: 0.25em;
    background-color: #B6BFBA;
    grid-column-start: 1;
    grid-row: 1;
    font-size: 3.5em;    
}

.columncontents{
    height: auto;
    width: auto;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 0em;
    margin-bottom: 1em;
    border-radius: 1em;
    border-style: solid;
    background-color: #B6BFBA;
}

.leftupvote{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 3.5em;
    margin-right: 0em;
    color: #FF3E00;
}

.arrowup{
    width: 10%;
    height: auto;
    margin-top: 2.5em;
    margin-left: 4.6em;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.arrowdown{
    width: 10%;
    height: auto;
    margin-left: 4.6em;
    margin-top: 2.5em;
    grid-column-start: 1;
    grid-row-start: 2;
}

.trendimg{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 0em;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
}

.subreddit{
    background-color: white;
    border-radius: 2em;
    border-color: #FF3E00;
    border-style: solid;
    grid-column-start: 3;
    grid-row: 1;
    margin-top: .5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
}

.postdescription{
    margin-top: 0em;
    grid-column-start: 3;
    grid-row-start: 2;
    padding: .25em;
}